{% extends "auctions/layout.html" %}

{% block body %}
<div class="page_main_div">
    <h1>{{category_type}}</h1>
    <br>
    {% for c in category %}
    <a class="listing_link" href="{% url 'listing' c.id %}">
        <div class="container-sm m-0 mb-10">
            <div class="row">
                <div class="col-sm-4">
                    <img class="mb-5" src={{c.image}} alt="" width="300">
                </div>
                <div class="col-sm-4 pt-5">
                    <h3>{{c.title}}</h3>
                    <h5>Price: ${{c.bid}}</h5>
                    <p>{{c.description}}</p>
                    <p>Created At: {{c.time}}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}